.todolist__item {
    display: flex;
    height: 100px;
    margin-bottom: 3rem;
    box-shadow: 0px 4px 12px 0px rgb(0, 0, 0, 0.06);
}

.todolist__item-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

.todolist__item-status .todolist__item-status-cb {
    color: #000;
}

.todolist__item-status .todolist__item-status-cb.Mui-checked {
    color: green;
}

.todolist__item-status .todolist__item-status-cb.Mui-disabled {
    color: #777777;
}

.todolist__item-details {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.todolist__item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    width: 130px;
    height: 100%;
}

.edit-todo-link {
    padding-block: 1px;
    padding-inline: 6px;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}

.MuiSvgIcon-root.edit-icon {
    color: rgb(0, 170, 255);
    width: 100%;
    height: 100%;
}

.MuiSvgIcon-root.trash-icon {
    color: rgba(255, 0, 0, 1);
    width: 100%;
    height: 100%;
}

.delete-modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    padding: 1rem;
}

.delete-modal__content-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.delete-modal__content .delete-modal__content-confirm {
    font-size: 24px;
    font-weight: 600;
}

.delete-modal__content .delete-modal__content-message {
    margin-bottom: 2rem;
}

.delete-modal__actions {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 1rem;
}

.delete-modal__actions .delete-modal__actions-yes {
    background-color: rgba(255, 0, 0, 1);
}
